*{
    color: black;
}
body{
    background-image: url('Plants.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps the background static */
    color: white; /* Adjust text color for visibility */
}
.header{
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
.header p{
    font-size: 20px;
}
.content{
    font-size: 40px;
    text-align: center;
}
.description{
    font-size: 30px;
    text-align: center;
}
input{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background-color: transparent;
    color: white;
    
}
.custom-placeholder::placeholder {
    color: white; /* Tomato red */
    font-weight: bold;
}
.question{
    color: white;
}
#displayText, #displayText2{
    color: white;
    text-align: center;
    font-size: 40px;
}
