<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plants</title>
    <link rel="stylesheet" type="text/css" href="Plants.css">
</head>
<body>
    <div class="header">
        <h1>Plants</h1>
    </div>
    <p class="description">Plants are essential for life, helping to regulate the climate, protect biodiversity, purify the air and water, and maintain the balance of natural ecosystems</p>
    <br><br><br>
    <div class="content">
        <p>How many plants de you have?</p>
        <input type="number" placeholder="Nuber of plants">
        <br><br>
        <li>Ways of irrigation</li>
    </div>
</body>
</html>