<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>horizontal scroll</title>
        <link rel="stylesheet" href="/static/vehicles.css" />
    </head>
    <body>
        <main>
        <div class="car">
            <img src="/static/images/carro.gif" alt="">
        </div>
        <div class="slider">
            <div class="slider-inner">
                <div class="item">
                <div class="content middle">
                <img src="/static/images/middleground.png">
            </div>

            <div class="content background">
                <img src="/static/images/greenmountain.png">
            </div>

            <div class="content front">
                <img src="/static/images/road.png">
            </div>

            </div>
                <div class="item">
                <div class="content middle">
                <img src="/static/images/middleground.png">
            </div>

            <div class="content background">
                <img src="/static/images/greenmountain.png">
            </div>

            <div class="content front">
                <img src="/static/images/road.png">
            </div>

            <div class="item">
                <div class="content middle">
                <img src="/static/images/middleground.png">
            </div>

                <div class="content background">
                <img src="/static/images/greenmountain.png">
            </div>

            <div class="content front">
                <img src="/static/images/road.png">
            </div>
        </div>
    </main>

    <script src="/static/vehicles.js"></script>
    </body>
</html>